{% extends 'liverdata/base.html' %}


{% block body %} {% block title %}
<h2>A lot of nothing.... </h2>{% endblock %}
<div class="container-fluid patients-container">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <!-- <div  class = "well">
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
    </div> -->
  </div>

  <div class="col-sm-8 text-left">&nbsp;
    WHATEVER YOU WANT TO PUT here
  </div>

    <div class="col-sm-2 sidenav">
      <!-- <div class="well">
        <p>Link</p>
      </div> -->
    </div>
    {% endblock %}
