{% extends 'liverdata/base.html' %}


{% block body %} {% block title %}
<h3>Patient - {{patient.patient_name}} </h3>{% endblock %}
<div class="container-fluid patients-container">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <!-- <div  class = "well">
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
    </div> -->
    </div>

    <div class="col-sm-8 text-left">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th> Nr </th>
              <th> Lesion Name </th>
              <th> Lesion Size </th>
              <th> Lesion Biopsy </th>
            </tr>
          </thead>

          <tbody>
            {% if patient.lesion_set.all %}
             {% for lesion in patient.lesion_set.all %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href='/liverdata/{{ patient.id }}/{{ lesion.id }}/'> {{ lesion.lesion_name }}</a></td>
              <td>{{ lesion.lesion_size }}  </td>
              <td> {{ lesion.lesion_biopsy }}</td>
            </tr>
            {% endfor %}
          </tbody>
          {% else %}
          <h3> No lesions are available</h3> {% endif %}
        </table>
      </div>
    </div>

    <div class="col-sm-2 sidenav">
      <!-- <div class="well">
        <p>Link</p>
      </div> -->
    </div>
    {% endblock %}
